.main-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.left-section {
    flex: 1;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-placeholder-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: top 0.3s ease; /* Smooth transition for vertical movement */
    position: relative;
}

.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .right-section {
        width: 100%;
    }

    .left-section {
        width: 100%;
        max-width: none;
    }
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34; /* Example background color */
    color: white;
    border-bottom: 1px solid #444;
}

.main-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.main-header .custom-connect-button {
    margin-left: auto;
}
